body {
    font-family:  'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f7f4f0;
    color: #373636;
  }
  
  header {
    background-color: #452e2e;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  .hero {
    background-image: url('assets/coffee-hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 2rem;
  }
  
  .hero-content {
    padding: 1rem;
    border-radius: 8px;
  }
  
  .hero h2 {
    font-size: 4rem;
  }
  
  .hero p {
    font-size: 2rem;
  }
  
  section {
    padding: 2rem;
    text-align: center;
  }
  
  section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  
  footer {
    background-color: #452e2e;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }